html{
    height: 100%;
}
body{
	margin: 1%;	
	padding: 0.3%;
    height: 100%;
}

header{
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	background-color: #000000;
	background-image: url('../images/flywheel.jpg');
	height:150px;
	width: 100%;
	padding: 1%;
}

nav a{
	text-decoration: none;
	display: inline-block;
	margin: 1%;
	margin-right: 5%;
	margin-left: 5%;
	padding: 1%;
	width: 10%;
	text-align: center;
	color: #000000;
	background-color:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}
main {
    height: 100%;
}
.left{
	background-color: #777613;
	float: left;
	width: 15%;
	display: inline-block;
	margin-right: 5%;
    height: 100%;
}

aside img{
	display: block;
	margin: 10%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	width: 80%;
}

nav a.active{
	background-color: #FFFFFF;
	color: #000080;
}
.right{
	padding: 0.5%;
}
table{
    font-family: sans-serif, Arial;
    color: #8F908D;
    font-size: 0.7em;
    text-align: center;
}
th{
    background-color: #92A050;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #AFDD50;
    color: #FFFFFF;
    padding: 2%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;  
    
}


th:first-child, td:first-child {
    text-align: left;
    border-left: 0px;
}

td:first-child{
    width: 65%;
}
    
td{
    background-color: #E4F5D4;
    opacity: 0.8;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 2%;
    
}

table td:hover {
    opacity: 1;
}